body {
  background-color: #121212;
}

h1 {
  text-align: center;
  margin: 2.5%;
}

* {
  font-family: 'DotGothic16', monospace, sans-serif;
  font-weight: bold;
  color:  #ff9616;
  letter-spacing: 0.2rem;
}

.grid  {
  width: 30%;
  height: 40%;
  background-color: #121212;
  border: 0.3em solid #f59929;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 2%;
  height: 2%;
}

.snake {
  background: #F59A27;
}

.item {
  background: yellow;
  border-radius: 20px;
}

.start button {
  background-color: #79A822;
  width: 20vw; 
  height: 10vh; 
  position: absolute;
  top: 5vh; 
  right: 5vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; 
  font-size: 1.5vw; 
  padding: 1%; 
  margin-top: 400px;
  margin-right: 320px;
}

.table{
    position: fixed;
    margin-bottom: 100px;
    margin-top: -325px;
}

#user {
    margin-left: 0px;
}
